# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

# Django
*.log
db.sqlite3
media/
# Virtual environment
venv/
env/
.env

# Environment variables
ia-openai-python-api/.env
ia-openai-python-api/.env.dist

# IDE
.vscode/
.idea/

# Compiled files
*.class
*.jar
*.war
*.ear

# Miscellaneous
*.bak
*.swp
*.tmp
.DS_Store